* {
    margin: 0;
    padding: 0; 
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box; 
}
body
{
    background-image: url('IMG-20250110-WA0002.jpg');
    background-repeat:no-repeat;
    background-size: 100%;

}
.navbar {
    height: 60px;
    display: flex;
    align-items: center;
    padding-left: 2%;
    padding-right: 2%; 
    justify-content: space-between;
}
.cart
{
    margin-top: 2px;
}

.nav-logo {
    height: 50px;
    width: 100px;
    display: flex; 
    align-items: center;
}

.border {
    border: 1px solid transparent;
}

.border:hover {
    border: 2px solid white; 
}
