body
{
     background-image: url('IMG-20250110-WA0002.jpg');
     background-imageopacity: 0.25;
     background-repeat:no-repeat;
     background-size:100%;
     display: flex;
     justify-content: center;
     align-items: center;
     height: 100vh;
    
}
.logincontainer {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
  }
  h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
  }
  .inputgroup {
    margin-bottom: 15px;
  }
  
  .inputgroup label {
    display: block;
    font-size: 14px;
    color: #666;
    margin-bottom: 5px;
  }
  
  .inputgroup input {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
  }
  
  .inputgroup input:focus {
    border-color: #007bff;
  }
  
 
  .loginbtn {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .loginbtn:hover {
    background-color: #0056b3;
  }
#username,#password
{
  height: 20px;
  width: 90%;
}